﻿<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Assets/css")
</head>
<body class="green-skin">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="Loader"></div>

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Top header  -->
        <!-- ============================================================== -->
        <!-- Start Navigation -->
        <div class="header header-light">
            <div class="container-fluid">
                <nav id="navigation" class="navigation navigation-landscape">
                    <div class="nav-header">
                        <a class="nav-brand" href="#">
                            <img src="~/Static/Home/assets/img/logo.png" class="logo" alt="" />
                        </a>
                        <div class="nav-toggle"></div>
                    </div>
                    <div class="nav-menus-wrapper" style="transition-property: none;">
                        <ul class="nav-menu mx-auto">

                            <li class="active">
                                <a href=@Url.Action("Index", "Home")>Home<span class="submenu-indicator"></span></a>
                            </li>

                            <li>
                                <a href="#">For Candidates<span class="submenu-indicator"></span></a>
                            </li>

                            <li>
                                <a href="#">For Employers<span class="submenu-indicator"></span></a>
                            </li>

                            <li>
                                <a href="#">Pages<span class="submenu-indicator"></span></a>
                            </li>

                            <li><a href="@Url.Action("Contact", "Home")">Contacts</a></li>

                        </ul>
                        @Html.Partial("_LoginPartial")
                       
                    </div>
                </nav>
            </div>
        </div>
        <!-- End Navigation -->
        <div class="clearfix"></div>
        <!-- ============================================================== -->
        <!-- Top header  -->
        <!-- ============================================================== -->
        <div>
            @RenderBody()
            <!-- ============================ Newsletter Start ================================== -->
            <section class="alert-wrap pt-5 pb-5" style="background: #00a94f url('../../Static/Home/assets/img/bg2.png');">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="jobalert-sec">
                                <h3 class="mb-1 text-light">Get New Jobs Notification!</h3>
                                <p class="text-light">Subscribe & get all related jobs notification.</p>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Enter Your Email">
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-black black">Subscribe</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- ============================ Newsletter Start ================================== -->
            <!-- ============================ Footer Start ================================== -->
            <footer class="dark-footer skin-dark-footer">
                <div>
                    <div class="container">
                        <div class="row">

                            <div class="col-lg-3 col-md-3">
                                <div class="footer-widget">
                                    <img src="assets/img/logo-light.png" class="img-footer" alt="" />
                                    <div class="footer-add">
                                        <p>Collins Street West, Victoria,<br /> Australia (AU4578).</p>
                                        <p><strong>Email:</strong><br /><a href="#">hello@workstock.com</a></p>
                                        <p><strong>Call:</strong><br />91 855 742 62548</p>
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2">
                                <div class="footer-widget">
                                    <h4 class="widget-title">Navigations</h4>
                                    <ul class="footer-menu">
                                        <li><a href="#">New Home Design</a></li>
                                        <li><a href="#">Browse Candidates</a></li>
                                        <li><a href="#">Browse Employers</a></li>
                                        <li><a href="#">Advance Search</a></li>
                                        <li><a href="#">Job With Map</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-2">
                                <div class="footer-widget">
                                    <h4 class="widget-title">The Highlights</h4>
                                    <ul class="footer-menu">
                                        <li><a href="#">Home Page 2</a></li>
                                        <li><a href="#">Home Page 3</a></li>
                                        <li><a href="#">Home Page 4</a></li>
                                        <li><a href="#">Home Page 5</a></li>
                                        <li><a href="#">LogIn</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-2">
                                <div class="footer-widget">
                                    <h4 class="widget-title">My Account</h4>
                                    <ul class="footer-menu">
                                        <li><a href="#">Dashboard</a></li>
                                        <li><a href="#">Applications</a></li>
                                        <li><a href="#">Packages</a></li>
                                        <li><a href="#">resume.html</a></li>
                                        <li><a href="#">SignUp Page</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-3">
                                <div class="footer-widget">
                                    <h4 class="widget-title">Download Apps</h4>
                                    <a href="#" class="other-store-link">
                                        <div class="other-store-app">
                                            <div class="os-app-icon">
                                                <i class="ti-android theme-cl"></i>
                                            </div>
                                            <div class="os-app-caps">
                                                Google Play
                                                <span>Get It Now</span>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="other-store-link">
                                        <div class="other-store-app">
                                            <div class="os-app-icon">
                                                <i class="ti-apple theme-cl"></i>
                                            </div>
                                            <div class="os-app-caps">
                                                App Store
                                                <span>Now it Available</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="footer-bottom">
                    <div class="container">
                        <div class="row align-items-center">

                            <div class="col-lg-6 col-md-6">
                                <p class="mb-0">© 2020 Work Stocks. Designd By PixelExperts All Rights Reserved</p>
                            </div>

                            <div class="col-lg-6 col-md-6 text-right">
                                <ul class="footer-bottom-social">
                                    <li><a href="#"><i class="ti-facebook"></i></a></li>
                                    <li><a href="#"><i class="ti-twitter"></i></a></li>
                                    <li><a href="#"><i class="ti-instagram"></i></a></li>
                                    <li><a href="#"><i class="ti-linkedin"></i></a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </footer>
            <!-- ============================ Footer End ================================== -->
            @Html.Partial("_LoginPartial2")
            @Html.Partial("_SignupPartial")

        </div>
    </div> 
    @Scripts.Render("~/Assets/jqueryval")
    @RenderSection("scripts", required: false)
</body>
</html>
