﻿
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Home/_HomeLayout.cshtml";
}
<!-- ============================ Hero Banner  Start================================== -->
<div class="hero-header jumbo-banner" style="        background: #00a94f url('../../Static/Home/assets/img/bg2.png');
">
    <img src="~/Static/Home/assets/img/mean.png" alt="latest property" class="image-cover img-responsive">
    <div class="container">
        <h1 class="text-light">Find your next job</h1>
        <p class="lead text-light">Find Jobs, Employment & Best Career Opportunities</p>
        <div class="col-lg-7 col-md-8">
            <form class="search-big-form no-border search-shadow">
                <div class="row m-0">
                    <div class="col-lg-9 col-md-8 col-sm-12 p-0">
                        <div class="form-group">
                            <i class="ti-search"></i>
                            <input type="text" class="form-control b-r" placeholder="Job Title or Keywords">
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-12 p-0">
                        <button type="button" class="btn btn-black black full-width">Find Jobs</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<!-- ============================ Hero Banner End ================================== -->
<!-- ============================ Browse By Category Start ================================== -->
<section>
    <div class="container">

        <div class="row">
            <div class="col text-center">
                <div class="sec-heading mx-auto">
                    <p>Search By Category</p>
                    <h2>Popular Jobs Category</h2>
                </div>
            </div>
        </div>
        <!-- /row -->

        <div class="row">

            <!-- Single category -->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="small-category-2">

                    <div class="small-category-2-thumb themes-light">
                        <a href="search.html"><i class="ti-hummer theme-cl"></i></a>
                    </div>
                    <div class="sc-2-detail">
                        <h5 class="sc-jb-title"><a href="search.html">Construction / Facilities</a></h5>
                        <span>6 new job</span>
                    </div>

                </div>
            </div>

            <!-- Single category -->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="small-category-2">

                    <div class="small-category-2-thumb themes-light">
                        <a href="search.html"><i class="ti-money theme-cl"></i></a>
                    </div>
                    <div class="sc-2-detail">
                        <h5 class="sc-jb-title"><a href="search.html">Account / Finance</a></h5>
                        <span>10 new job</span>
                    </div>

                </div>
            </div>

            <!-- Single category -->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="small-category-2">

                    <div class="small-category-2-thumb themes-light">
                        <a href="search.html"><i class="ti-headphone theme-cl"></i></a>
                    </div>
                    <div class="sc-2-detail">
                        <h5 class="sc-jb-title"><a href="search.html">Telecommunications</a></h5>
                        <span>12 new job</span>
                    </div>

                </div>
            </div>

            <!-- Single category -->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="small-category-2">

                    <div class="small-category-2-thumb themes-light">
                        <a href="search.html"><i class="ti-heart-broken theme-cl"></i></a>
                    </div>
                    <div class="sc-2-detail">
                        <h5 class="sc-jb-title"><a href="search.html">Healthcare</a></h5>
                        <span>6 new job</span>
                    </div>

                </div>
            </div>

            <!-- Single category -->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="small-category-2">

                    <div class="small-category-2-thumb themes-light">
                        <a href="search.html"><i class="ti-desktop theme-cl"></i></a>
                    </div>
                    <div class="sc-2-detail">
                        <h5 class="sc-jb-title"><a href="search.html">Designing & Multimedia</a></h5>
                        <span>08 new job</span>
                    </div>

                </div>
            </div>

            <!-- Single category -->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="small-category-2">

                    <div class="small-category-2-thumb themes-light">
                        <a href="search.html"><i class="ti-brush-alt theme-cl"></i></a>
                    </div>
                    <div class="sc-2-detail">
                        <h5 class="sc-jb-title"><a href="search.html">Education Training</a></h5>
                        <span>6 new job</span>
                    </div>

                </div>
            </div>

            <!-- Single category -->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="small-category-2">

                    <div class="small-category-2-thumb themes-light">
                        <a href="search.html"><i class="ti-car theme-cl"></i></a>
                    </div>
                    <div class="sc-2-detail">
                        <h5 class="sc-jb-title"><a href="search.html">Automotive Jobs</a></h5>
                        <span>07 new job</span>
                    </div>

                </div>
            </div>

            <!-- Single category -->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="small-category-2">

                    <div class="small-category-2-thumb themes-light">
                        <a href="search.html"><i class="ti-bar-chart-alt theme-cl"></i></a>
                    </div>
                    <div class="sc-2-detail">
                        <h5 class="sc-jb-title"><a href="search.html">Banking Jobs</a></h5>
                        <span>12 new job</span>
                    </div>

                </div>
            </div>

            <!-- Single category -->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="small-category-2">

                    <div class="small-category-2-thumb themes-light">
                        <a href="search.html"><i class="ti-book theme-cl"></i></a>
                    </div>
                    <div class="sc-2-detail">
                        <h5 class="sc-jb-title"><a href="search.html">Education Training</a></h5>
                        <span>6 new job</span>
                    </div>

                </div>
            </div>

            <!-- Single category -->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="small-category-2">

                    <div class="small-category-2-thumb themes-light">
                        <a href="search.html"><i class="ti-cut theme-cl"></i></a>
                    </div>
                    <div class="sc-2-detail">
                        <h5 class="sc-jb-title"><a href="search.html">Hair & Salon</a></h5>
                        <span>07 new job</span>
                    </div>

                </div>
            </div>

            <!-- Single category -->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="small-category-2">

                    <div class="small-category-2-thumb themes-light">
                        <a href="search.html"><i class="ti-pie-chart theme-cl"></i></a>
                    </div>
                    <div class="sc-2-detail">
                        <h5 class="sc-jb-title"><a href="search.html">Data Analysis</a></h5>
                        <span>6 new job</span>
                    </div>

                </div>
            </div>

            <!-- Single category -->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="small-category-2">

                    <div class="small-category-2-thumb themes-light">
                        <a href="search.html"><i class="ti-paint-bucket theme-cl"></i></a>
                    </div>
                    <div class="sc-2-detail">
                        <h5 class="sc-jb-title"><a href="search.html">Graphic Design</a></h5>
                        <span>17 new job</span>
                    </div>

                </div>
            </div>

        </div>
        <!-- /row -->

        <div class="row mt-4">
            <div class="col-lg-12 col-md-12">
                <div class="text-center">

                    <a href="grid-job.html" class="btn btn-info">Browse All Category<i class="ti-arrow-right ml-2"></i></a>

                </div>
            </div>
        </div>

    </div>
</section>
<!-- ============================ Browse By Category End ================================== -->
<!-- ============================ Agency Start ================================== -->
<section class="text-center gray min-sec">
    <div class="container">
        <div class="row">

            <div class="col text-center">
                <div class="sec-heading mx-auto">
                    <p>World Popular Agency</p>
                    <h2>Top Agency of The Year</h2>
                </div>
            </div>

        </div>
        <!-- row -->
        <div class="row">

            <!-- Single Employer -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="employer-wrap-2">

                    <div class="employer-thumb">
                        <a href="company-detail.html"><img alt="" src="~/Static/Home/assets/img/asana.png" class="avatar avatar-120 photo"></a>
                    </div>
                    <div class="employer-detail">
                        <div class="employer-detail-inner">
                            <h4 class="employer-title"><a href="company-detail.html">Asana Tech</a></h4>
                            <div class="employer-locations"><i class="ti-location-pin text-danger"></i><a href="#">Saint Carasia</a>, <a href="#">Austrailia</a></div>
                            <div class="employer-rating">
                                <i class="ti-star filled"></i>
                                <i class="ti-star filled"></i>
                                <i class="ti-star filled"></i>
                                <i class="ti-star filled"></i>
                                <i class="ti-star filled"></i>
                            </div>
                            <a class="emp-total-vacancy" href="company-detail.html">10 Opening</a>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Single Employer -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="employer-wrap-2">

                    <div class="employer-thumb">
                        <a href="company-detail.html"><img alt="" src="~/Static/Home/assets/img/adwords.png" class="avatar avatar-120 photo"></a>
                    </div>
                    <div class="employer-detail">
                        <div class="employer-detail-inner">
                            <h4 class="employer-title"><a href="company-detail.html">Adwordlia Tech</a></h4>
                            <div class="employer-locations"><i class="ti-location-pin text-danger"></i><a href="#">Saint Francis Way</a>, <a href="#">London</a></div>
                            <div class="employer-rating">
                                <i class="ti-star filled"></i>
                                <i class="ti-star filled"></i>
                                <i class="ti-star filled"></i>
                                <i class="ti-star filled"></i>
                                <i class="ti-star filled"></i>
                            </div>
                            <a class="emp-total-vacancy" href="company-detail.html">07 Opening</a>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Single Employer -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="employer-wrap-2">

                    <div class="employer-thumb">
                        <a href="company-detail.html"><img alt="" src="~/Static/Home/assets/img/bing.png" class="avatar avatar-120 photo"></a>
                    </div>
                    <div class="employer-detail">
                        <div class="employer-detail-inner">
                            <h4 class="employer-title"><a href="company-detail.html">Binglolia Soft</a></h4>
                            <div class="employer-locations"><i class="ti-location-pin text-danger"></i><a href="#">2022 Virgil Street</a>, <a href="#">Canada</a></div>
                            <div class="employer-rating">
                                <i class="ti-star filled"></i>
                                <i class="ti-star filled"></i>
                                <i class="ti-star filled"></i>
                                <i class="ti-star filled"></i>
                                <i class="ti-star"></i>
                            </div>
                            <a class="emp-total-vacancy" href="company-detail.html">12 Opening</a>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Single Employer -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="employer-wrap-2">

                    <div class="employer-thumb">
                        <a href="company-detail.html"><img alt="" src="~/Static/Home/assets/img/Atlassian.png" class="avatar avatar-120 photo"></a>
                    </div>
                    <div class="employer-detail">
                        <div class="employer-detail-inner">
                            <h4 class="employer-title"><a href="company-detail.html">Allia Tech</a></h4>
                            <div class="employer-locations"><i class="ti-location-pin text-danger"></i><a href="#">Saint Francis Way</a>, <a href="#">London</a></div>
                            <div class="employer-rating">
                                <i class="ti-star filled"></i>
                                <i class="ti-star filled"></i>
                                <i class="ti-star filled"></i>
                                <i class="ti-star filled"></i>
                                <i class="ti-star"></i>
                            </div>
                            <a class="emp-total-vacancy" href="company-detail.html">10 Opening</a>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Single Employer -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="employer-wrap-2">

                    <div class="employer-thumb">
                        <a href="company-detail.html"><img alt="" src="~/Static/Home/assets/img/drive.png" class="avatar avatar-120 photo"></a>
                    </div>
                    <div class="employer-detail">
                        <div class="employer-detail-inner">
                            <h4 class="employer-title"><a href="company-detail.html">Dritick Tech</a></h4>
                            <div class="employer-locations"><i class="ti-location-pin text-danger"></i><a href="#">12 Loving Acres Road</a>, <a href="#">London</a></div>
                            <div class="employer-rating">
                                <i class="ti-star filled"></i>
                                <i class="ti-star filled"></i>
                                <i class="ti-star filled"></i>
                                <i class="ti-star filled"></i>
                                <i class="ti-star filled"></i>
                            </div>
                            <a class="emp-total-vacancy" href="company-detail.html">20 Opening</a>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Single Employer -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="employer-wrap-2">

                    <div class="employer-thumb">
                        <a href="company-detail.html"><img alt="" src="~/Static/Home/assets/img/e.png" class="avatar avatar-120 photo"></a>
                    </div>
                    <div class="employer-detail">
                        <div class="employer-detail-inner">
                            <h4 class="employer-title"><a href="company-detail.html">Elozira</a></h4>
                            <div class="employer-locations"><i class="ti-location-pin text-danger"></i><a href="#">2022 Virgil Street</a>, <a href="#">USA</a></div>
                            <div class="employer-rating">
                                <i class="ti-star filled"></i>
                                <i class="ti-star filled"></i>
                                <i class="ti-star filled"></i>
                                <i class="ti-star filled"></i>
                                <i class="ti-star"></i>
                            </div>
                            <a class="emp-total-vacancy" href="company-detail.html">02 Opening</a>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Single Employer -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="employer-wrap-2">

                    <div class="employer-thumb">
                        <a href="company-detail.html"><img alt="" src="~/Static/Home/assets/img/photos.png" class="avatar avatar-120 photo"></a>
                    </div>
                    <div class="employer-detail">
                        <div class="employer-detail-inner">
                            <h4 class="employer-title"><a href="company-detail.html">Photopic X</a></h4>
                            <div class="employer-locations"><i class="ti-location-pin text-danger"></i><a href="#">1060 Oakmound Road</a>, <a href="#">London</a></div>
                            <div class="employer-rating">
                                <i class="ti-star filled"></i>
                                <i class="ti-star filled"></i>
                                <i class="ti-star filled"></i>
                                <i class="ti-star filled"></i>
                                <i class="ti-star filled"></i>
                            </div>
                            <a class="emp-total-vacancy" href="company-detail.html">22 Opening</a>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Single Employer -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="employer-wrap-2">

                    <div class="employer-thumb">
                        <a href="company-detail.html"><img alt="" src="~/Static/Home/assets/img/yelp.png" class="avatar avatar-120 photo"></a>
                    </div>
                    <div class="employer-detail">
                        <div class="employer-detail-inner">
                            <h4 class="employer-title"><a href="company-detail.html">Yelp Soft</a></h4>
                            <div class="employer-locations"><i class="ti-location-pin text-danger"></i><a href="#">2999 Forest Avenue</a>, <a href="#">Canada</a></div>
                            <div class="employer-rating">
                                <i class="ti-star filled"></i>
                                <i class="ti-star filled"></i>
                                <i class="ti-star filled"></i>
                                <i class="ti-star filled"></i>
                                <i class="ti-star"></i>
                            </div>
                            <a class="emp-total-vacancy" href="company-detail.html">10 Opening</a>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <!-- /row -->

    </div>
</section>
<!-- ============================ Agency Start ================================== -->
<!-- ============================ Job Featured End ================================== -->
<section class="min-sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">

                <!-- Nav tabs -->
                <div class="d-block">
                    <ul class="nav nav-tabs nav-advance bg-info" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#recent" role="tab">Recent Job</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#featured" role="tab">Featured jobs</a>
                        </li>
                    </ul>
                    <!-- Nav tabs -->
                </div>

                <div class="tab-content">

                    <!-- Recent Jobs -->
                    <div class="tab-pane fade in show active" id="recent" role="tabpanel">
                        <div class="row">

                            <!-- Single job -->
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="verticle-job-list">

                                    <div class="jbs-featured"></div>
                                    <span class="job-type j-full-time">Full Time</span>
                                    <div class="verticle-job-wrap">
                                        <div class="verticle-job-thumb">
                                            <a href="employer-detail.html"><img alt="" src="~/Static/Home/assets/img/adwords.png" class="img-fluid mx-auto"></a>
                                        </div>

                                        <div class="verticle-job-detail">
                                            <h4 class="jb-title"><a href="job-detail.html">Graphic Designer</a><span class="star-rating" data-rating="4.7"></span></h4>
                                            <p class="jb-employer"><a href="employer-detail.html">Google Inc.</a></p>
                                            <div class="verticle-jb-info">
                                                <ul>
                                                    <li><i class="ti-briefcase text-warning"></i>3-5 Yrs</li>
                                                    <li><i class="ti-location-pin text-primary"></i>United State</li>
                                                </ul>
                                            </div>
                                            <div class="verticle-jb-post">
                                                <i class="ti-ink-pen"></i>Web Designing, Web Development
                                            </div>
                                        </div>
                                    </div>

                                    <div class="verticle-job-footer">
                                        <div class="jb-package">
                                            <i class="ti-wallet"></i>$20,35 - $5,265 P.A
                                        </div>
                                        <div class="jb-author">
                                            <a href="employer-detail.html"><img alt="" src="~/Static/Home/assets/img/user-1.png" class="avatar avatar-30"> Daniel Duke</a>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- Single job -->
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="verticle-job-list">

                                    <span class="job-type j-part-time">Part Time</span>
                                    <div class="verticle-job-wrap">
                                        <div class="verticle-job-thumb">
                                            <a href="employer-detail.html"><img alt="" src="~/Static/Home/assets/img/asana.png" class="img-fluid mx-auto"></a>
                                        </div>

                                        <div class="verticle-job-detail">
                                            <h4 class="jb-title"><a href="job-detail.html">App Developer</a><span class="star-rating" data-rating="4.9"></span></h4>
                                            <p class="jb-employer"><a href="employer-detail.html">Asana Inc.</a></p>
                                            <div class="verticle-jb-info">
                                                <ul>
                                                    <li><i class="ti-briefcase text-warning"></i>3-5 Yrs</li>
                                                    <li><i class="ti-location-pin text-primary"></i>Canada, USA</li>
                                                </ul>
                                            </div>
                                            <div class="verticle-jb-post">
                                                <i class="ti-ink-pen"></i>App Developer, iPhone Developer
                                            </div>
                                        </div>
                                    </div>

                                    <div class="verticle-job-footer">
                                        <div class="jb-package">
                                            <i class="ti-wallet"></i>$23,75 - $4,268 P.A
                                        </div>
                                        <div class="jb-author">
                                            <a href="employer-detail.html"><img alt="" src="~/Static/Home/assets/img/user-2.png" class="avatar avatar-30"> Adam Smith</a>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- Single job -->
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="verticle-job-list">

                                    <span class="job-type j-part-time">Part Time</span>
                                    <div class="verticle-job-wrap">
                                        <div class="verticle-job-thumb">
                                            <a href="employer-detail.html"><img alt="" src="~/Static/Home/assets/img/Atlassian.png" class="img-fluid mx-auto"></a>
                                        </div>

                                        <div class="verticle-job-detail">
                                            <h4 class="jb-title"><a href="job-detail.html">Web Development</a><span class="star-rating" data-rating="4.5"></span></h4>
                                            <p class="jb-employer"><a href="employer-detail.html">Drive Inc.</a></p>
                                            <div class="verticle-jb-info">
                                                <ul>
                                                    <li><i class="ti-briefcase text-warning"></i>2-5 Yrs</li>
                                                    <li><i class="ti-location-pin text-primary"></i>London, UK</li>
                                                </ul>
                                            </div>
                                            <div class="verticle-jb-post">
                                                <i class="ti-ink-pen"></i>Web Designing, iPhone Developer
                                            </div>
                                        </div>
                                    </div>

                                    <div class="verticle-job-footer">
                                        <div class="jb-package">
                                            <i class="ti-wallet"></i>$3561 - $2,475 P.A
                                        </div>
                                        <div class="jb-author">
                                            <a href="employer-detail.html"><img alt="" src="~/Static/Home/assets/img/user-3.png" class="avatar avatar-30"> Adam Duke</a>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- Single job -->
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="verticle-job-list">

                                    <span class="job-type j-internship-time">Internship</span>
                                    <div class="verticle-job-wrap">
                                        <div class="verticle-job-thumb">
                                            <a href="employer-detail.html"><img alt="" src="~/Static/Home/assets/img/e.png" class="img-fluid mx-auto"></a>
                                        </div>

                                        <div class="verticle-job-detail">
                                            <h4 class="jb-title"><a href="job-detail.html">software Engineering</a><span class="star-rating" data-rating="4.7"></span></h4>
                                            <p class="jb-employer"><a href="employer-detail.html">Alliange Inc.</a></p>
                                            <div class="verticle-jb-info">
                                                <ul>
                                                    <li><i class="ti-briefcase text-warning"></i>2-4 Yrs</li>
                                                    <li><i class="ti-location-pin text-primary"></i>New York, USA</li>
                                                </ul>
                                            </div>
                                            <div class="verticle-jb-post">
                                                <i class="ti-ink-pen"></i>SEO Expert, Web Development
                                            </div>
                                        </div>
                                    </div>

                                    <div class="verticle-job-footer">
                                        <div class="jb-package">
                                            <i class="ti-wallet"></i>$25,35 - $7,285 P.A
                                        </div>
                                        <div class="jb-author">
                                            <a href="employer-detail.html"><img alt="" src="~/Static/Home/assets/img/user-4.png" class="avatar avatar-30"> Daniel Worner</a>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- Single job -->
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="verticle-job-list">

                                    <span class="job-type j-freelance-time">Freelance Time</span>
                                    <div class="verticle-job-wrap">
                                        <div class="verticle-job-thumb">
                                            <a href="employer-detail.html"><img alt="" src="~/Static/Home/assets/img/drive.png" class="img-fluid mx-auto"></a>
                                        </div>

                                        <div class="verticle-job-detail">
                                            <h4 class="jb-title"><a href="job-detail.html">Product Manager</a><span class="star-rating" data-rating="4.8"></span></h4>
                                            <p class="jb-employer"><a href="employer-detail.html">Phlixer Inc.</a></p>
                                            <div class="verticle-jb-info">
                                                <ul>
                                                    <li><i class="ti-briefcase text-warning"></i>2-5 Yrs</li>
                                                    <li><i class="ti-location-pin text-primary"></i>Canada, USA</li>
                                                </ul>
                                            </div>
                                            <div class="verticle-jb-post">
                                                <i class="ti-ink-pen"></i>Product Designer, UI Designer
                                            </div>
                                        </div>
                                    </div>

                                    <div class="verticle-job-footer">
                                        <div class="jb-package">
                                            <i class="ti-wallet"></i>$21,35 - $4,457 P.A
                                        </div>
                                        <div class="jb-author">
                                            <a href="employer-detail.html"><img alt="" src="~/Static/Home/assets/img/user-5.png" class="avatar avatar-30"> Worner Duke</a>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- Single job -->
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="verticle-job-list">

                                    <span class="job-type j-full-time">Full Time</span>
                                    <div class="verticle-job-wrap">
                                        <div class="verticle-job-thumb">
                                            <a href="employer-detail.html"><img alt="" src="~/Static/Home/assets/img/photos.png" class="img-fluid mx-auto"></a>
                                        </div>

                                        <div class="verticle-job-detail">
                                            <h4 class="jb-title"><a href="job-detail.html">Expert Bidder</a><span class="star-rating" data-rating="4.2"></span></h4>
                                            <p class="jb-employer"><a href="employer-detail.html">Livialla Soft.</a></p>
                                            <div class="verticle-jb-info">
                                                <ul>
                                                    <li><i class="ti-briefcase text-warning"></i>1-5 Yrs</li>
                                                    <li><i class="ti-location-pin text-primary"></i>United State</li>
                                                </ul>
                                            </div>
                                            <div class="verticle-jb-post">
                                                <i class="ti-ink-pen"></i>App Developer, Web Development
                                            </div>
                                        </div>
                                    </div>

                                    <div class="verticle-job-footer">
                                        <div class="jb-package">
                                            <i class="ti-wallet"></i>$42,35 - $10,65 P.A
                                        </div>
                                        <div class="jb-author">
                                            <a href="employer-detail.html"><img alt="" src="~/Static/Home/assets/img/user-6.png" class="avatar avatar-30"> Livvia Smith</a>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- Single job -->
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="verticle-job-list">

                                    <span class="job-type j-part-time">Part Time</span>
                                    <div class="verticle-job-wrap">
                                        <div class="verticle-job-thumb">
                                            <a href="employer-detail.html"><img alt="" src="~/Static/Home/assets/img/paypal.png" class="img-fluid mx-auto"></a>
                                        </div>

                                        <div class="verticle-job-detail">
                                            <h4 class="jb-title"><a href="job-detail.html">Iphone Developer</a><span class="star-rating" data-rating="4.6"></span></h4>
                                            <p class="jb-employer"><a href="employer-detail.html">Paypal Inc.</a></p>
                                            <div class="verticle-jb-info">
                                                <ul>
                                                    <li><i class="ti-briefcase text-warning"></i>2-5 Yrs</li>
                                                    <li><i class="ti-location-pin text-primary"></i>Brazil</li>
                                                </ul>
                                            </div>
                                            <div class="verticle-jb-post">
                                                <i class="ti-ink-pen"></i>SEO Expert, UI Designer
                                            </div>
                                        </div>
                                    </div>

                                    <div class="verticle-job-footer">
                                        <div class="jb-package">
                                            <i class="ti-wallet"></i>$24,35 - $7,165 P.A
                                        </div>
                                        <div class="jb-author">
                                            <a href="employer-detail.html"><img alt="" src="~/Static/Home/assets/img/user-7.png" class="avatar avatar-30"> Daniel Duke</a>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- Single job -->
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="verticle-job-list">

                                    <span class="job-type j-temporary-time">Temporary</span>
                                    <div class="verticle-job-wrap">
                                        <div class="verticle-job-thumb">
                                            <a href="employer-detail.html"><img alt="" src="~/Static/Home/assets/img/yelp.png" class="img-fluid mx-auto"></a>
                                        </div>

                                        <div class="verticle-job-detail">
                                            <h4 class="jb-title"><a href="job-detail.html">Sales Analytics</a><span class="star-rating" data-rating="4.9"></span></h4>
                                            <p class="jb-employer"><a href="employer-detail.html">Yelp Inc.</a></p>
                                            <div class="verticle-jb-info">
                                                <ul>
                                                    <li><i class="ti-briefcase text-warning"></i>2-4 Yrs</li>
                                                    <li><i class="ti-location-pin text-primary"></i>Canada, USA</li>
                                                </ul>
                                            </div>
                                            <div class="verticle-jb-post">
                                                <i class="ti-ink-pen"></i>Web Designing, Web Development
                                            </div>
                                        </div>
                                    </div>

                                    <div class="verticle-job-footer">
                                        <div class="jb-package">
                                            <i class="ti-wallet"></i>$20,35 - $4,265 P.A
                                        </div>
                                        <div class="jb-author">
                                            <a href="employer-detail.html"><img alt="" src="~/Static/Home/assets/img/user-8.png" class="avatar avatar-30"> Adam Adivar</a>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- featured Jobs -->
                    <div class="tab-pane fade" id="featured" role="tabpanel">
                        <div class="row">

                            <!-- Single job -->
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="verticle-job-list">

                                    <span class="job-type j-part-time">Part Time</span>
                                    <div class="verticle-job-wrap">
                                        <div class="verticle-job-thumb">
                                            <a href="employer-detail.html"><img alt="" src="~/Static/Home/assets/img/asana.png" class="img-fluid mx-auto"></a>
                                        </div>

                                        <div class="verticle-job-detail">
                                            <h4 class="jb-title"><a href="job-detail.html">App Developer</a><span class="star-rating" data-rating="4.9"></span></h4>
                                            <p class="jb-employer"><a href="employer-detail.html">Asana Inc.</a></p>
                                            <div class="verticle-jb-info">
                                                <ul>
                                                    <li><i class="ti-briefcase text-warning"></i>3-5 Yrs</li>
                                                    <li><i class="ti-location-pin text-primary"></i>Canada, USA</li>
                                                </ul>
                                            </div>
                                            <div class="verticle-jb-post">
                                                <i class="ti-ink-pen"></i>App Developer, iPhone Developer
                                            </div>
                                        </div>
                                    </div>

                                    <div class="verticle-job-footer">
                                        <div class="jb-package">
                                            <i class="ti-wallet"></i>$23,75 - $4,268 P.A
                                        </div>
                                        <div class="jb-author">
                                            <a href="employer-detail.html"><img alt="" src="~/Static/Home/assets/img/user-2.png" class="avatar avatar-30"> Adam Smith</a>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- Single job -->
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="verticle-job-list">

                                    <span class="job-type j-internship-time">Internship</span>
                                    <div class="verticle-job-wrap">
                                        <div class="verticle-job-thumb">
                                            <a href="employer-detail.html"><img alt="" src="~/Static/Home/assets/img/e.png" class="img-fluid mx-auto"></a>
                                        </div>

                                        <div class="verticle-job-detail">
                                            <h4 class="jb-title"><a href="job-detail.html">software Engineering</a><span class="star-rating" data-rating="4.7"></span></h4>
                                            <p class="jb-employer"><a href="employer-detail.html">Alliange Inc.</a></p>
                                            <div class="verticle-jb-info">
                                                <ul>
                                                    <li><i class="ti-briefcase text-warning"></i>2-4 Yrs</li>
                                                    <li><i class="ti-location-pin text-primary"></i>New York, USA</li>
                                                </ul>
                                            </div>
                                            <div class="verticle-jb-post">
                                                <i class="ti-ink-pen"></i>SEO Expert, Web Development
                                            </div>
                                        </div>
                                    </div>

                                    <div class="verticle-job-footer">
                                        <div class="jb-package">
                                            <i class="ti-wallet"></i>$25,35 - $7,285 P.A
                                        </div>
                                        <div class="jb-author">
                                            <a href="employer-detail.html"><img alt="" src="~/Static/Home/assets/img/user-4.png" class="avatar avatar-30"> Daniel Worner</a>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- Single job -->
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="verticle-job-list">

                                    <div class="jbs-featured"></div>
                                    <span class="job-type j-full-time">Full Time</span>
                                    <div class="verticle-job-wrap">
                                        <div class="verticle-job-thumb">
                                            <a href="employer-detail.html"><img alt="" src="~/Static/Home/assets/img/adwords.png" class="img-fluid mx-auto"></a>
                                        </div>

                                        <div class="verticle-job-detail">
                                            <h4 class="jb-title"><a href="job-detail.html">Graphic Designer</a><span class="star-rating" data-rating="4.7"></span></h4>
                                            <p class="jb-employer"><a href="employer-detail.html">Google Inc.</a></p>
                                            <div class="verticle-jb-info">
                                                <ul>
                                                    <li><i class="ti-briefcase text-warning"></i>3-5 Yrs</li>
                                                    <li><i class="ti-location-pin text-primary"></i>United State</li>
                                                </ul>
                                            </div>
                                            <div class="verticle-jb-post">
                                                <i class="ti-ink-pen"></i>Web Designing, Web Development
                                            </div>
                                        </div>
                                    </div>

                                    <div class="verticle-job-footer">
                                        <div class="jb-package">
                                            <i class="ti-wallet"></i>$20,35 - $5,265 P.A
                                        </div>
                                        <div class="jb-author">
                                            <a href="employer-detail.html"><img alt="" src="~/Static/Home/assets/img/user-1.png" class="avatar avatar-30"> Daniel Duke</a>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- Single job -->
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="verticle-job-list">

                                    <span class="job-type j-freelance-time">Freelance Time</span>
                                    <div class="verticle-job-wrap">
                                        <div class="verticle-job-thumb">
                                            <a href="employer-detail.html"><img alt="" src="~/Static/Home/assets/img/drive.png" class="img-fluid mx-auto"></a>
                                        </div>

                                        <div class="verticle-job-detail">
                                            <h4 class="jb-title"><a href="job-detail.html">Product Manager</a><span class="star-rating" data-rating="4.8"></span></h4>
                                            <p class="jb-employer"><a href="employer-detail.html">Phlixer Inc.</a></p>
                                            <div class="verticle-jb-info">
                                                <ul>
                                                    <li><i class="ti-briefcase text-warning"></i>2-5 Yrs</li>
                                                    <li><i class="ti-location-pin text-primary"></i>Canada, USA</li>
                                                </ul>
                                            </div>
                                            <div class="verticle-jb-post">
                                                <i class="ti-ink-pen"></i>Product Designer, UI Designer
                                            </div>
                                        </div>
                                    </div>

                                    <div class="verticle-job-footer">
                                        <div class="jb-package">
                                            <i class="ti-wallet"></i>$21,35 - $4,457 P.A
                                        </div>
                                        <div class="jb-author">
                                            <a href="employer-detail.html"><img alt="" src="~/Static/Home/assets/img/user-5.png" class="avatar avatar-30"> Worner Duke</a>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- Single job -->
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="verticle-job-list">

                                    <span class="job-type j-full-time">Full Time</span>
                                    <div class="verticle-job-wrap">
                                        <div class="verticle-job-thumb">
                                            <a href="employer-detail.html"><img alt="" src="~/Static/Home/assets/img/photos.png" class="img-fluid mx-auto"></a>
                                        </div>

                                        <div class="verticle-job-detail">
                                            <h4 class="jb-title"><a href="job-detail.html">Expert Bidder</a><span class="star-rating" data-rating="4.2"></span></h4>
                                            <p class="jb-employer"><a href="employer-detail.html">Livialla Soft.</a></p>
                                            <div class="verticle-jb-info">
                                                <ul>
                                                    <li><i class="ti-briefcase text-warning"></i>1-5 Yrs</li>
                                                    <li><i class="ti-location-pin text-primary"></i>United State</li>
                                                </ul>
                                            </div>
                                            <div class="verticle-jb-post">
                                                <i class="ti-ink-pen"></i>App Developer, Web Development
                                            </div>
                                        </div>
                                    </div>

                                    <div class="verticle-job-footer">
                                        <div class="jb-package">
                                            <i class="ti-wallet"></i>$42,35 - $10,65 P.A
                                        </div>
                                        <div class="jb-author">
                                            <a href="employer-detail.html"><img alt="" src="~/Static/Home/assets/img/user-6.png" class="avatar avatar-30"> Livvia Smith</a>
                                        </div>
                                    </div>

                                </div>
                            </div>


                            <!-- Single job -->
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="verticle-job-list">

                                    <span class="job-type j-part-time">Part Time</span>
                                    <div class="verticle-job-wrap">
                                        <div class="verticle-job-thumb">
                                            <a href="employer-detail.html"><img alt="" src="~/Static/Home/assets/img/Atlassian.png" class="img-fluid mx-auto"></a>
                                        </div>

                                        <div class="verticle-job-detail">
                                            <h4 class="jb-title"><a href="job-detail.html">Web Development</a><span class="star-rating" data-rating="4.5"></span></h4>
                                            <p class="jb-employer"><a href="employer-detail.html">Drive Inc.</a></p>
                                            <div class="verticle-jb-info">
                                                <ul>
                                                    <li><i class="ti-briefcase text-warning"></i>2-5 Yrs</li>
                                                    <li><i class="ti-location-pin text-primary"></i>London, UK</li>
                                                </ul>
                                            </div>
                                            <div class="verticle-jb-post">
                                                <i class="ti-ink-pen"></i>Web Designing, iPhone Developer
                                            </div>
                                        </div>
                                    </div>

                                    <div class="verticle-job-footer">
                                        <div class="jb-package">
                                            <i class="ti-wallet"></i>$3561 - $2,475 P.A
                                        </div>
                                        <div class="jb-author">
                                            <a href="employer-detail.html"><img alt="" src="~/Static/Home/assets/img/user-3.png" class="avatar avatar-30"> Adam Duke</a>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- Single job -->
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="verticle-job-list">

                                    <span class="job-type j-part-time">Part Time</span>
                                    <div class="verticle-job-wrap">
                                        <div class="verticle-job-thumb">
                                            <a href="employer-detail.html"><img alt="" src="~/Static/Home/assets/img/paypal.png" class="img-fluid mx-auto"></a>
                                        </div>

                                        <div class="verticle-job-detail">
                                            <h4 class="jb-title"><a href="job-detail.html">Iphone Developer</a><span class="star-rating" data-rating="4.6"></span></h4>
                                            <p class="jb-employer"><a href="employer-detail.html">Paypal Inc.</a></p>
                                            <div class="verticle-jb-info">
                                                <ul>
                                                    <li><i class="ti-briefcase text-warning"></i>2-5 Yrs</li>
                                                    <li><i class="ti-location-pin text-primary"></i>Brazil</li>
                                                </ul>
                                            </div>
                                            <div class="verticle-jb-post">
                                                <i class="ti-ink-pen"></i>SEO Expert, UI Designer
                                            </div>
                                        </div>
                                    </div>

                                    <div class="verticle-job-footer">
                                        <div class="jb-package">
                                            <i class="ti-wallet"></i>$24,35 - $7,165 P.A
                                        </div>
                                        <div class="jb-author">
                                            <a href="employer-detail.html"><img alt="" src="~/Static/Home/assets/img/user-7.png" class="avatar avatar-30"> Daniel Duke</a>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- Single job -->
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="verticle-job-list">

                                    <span class="job-type j-temporary-time">Temporary</span>
                                    <div class="verticle-job-wrap">
                                        <div class="verticle-job-thumb">
                                            <a href="employer-detail.html"><img alt="" src="~/Static/Home/assets/img/yelp.png" class="img-fluid mx-auto"></a>
                                        </div>

                                        <div class="verticle-job-detail">
                                            <h4 class="jb-title"><a href="job-detail.html">Sales Analytics</a><span class="star-rating" data-rating="4.9"></span></h4>
                                            <p class="jb-employer"><a href="employer-detail.html">Yelp Inc.</a></p>
                                            <div class="verticle-jb-info">
                                                <ul>
                                                    <li><i class="ti-briefcase text-warning"></i>2-4 Yrs</li>
                                                    <li><i class="ti-location-pin text-primary"></i>Canada, USA</li>
                                                </ul>
                                            </div>
                                            <div class="verticle-jb-post">
                                                <i class="ti-ink-pen"></i>Web Designing, Web Development
                                            </div>
                                        </div>
                                    </div>

                                    <div class="verticle-job-footer">
                                        <div class="jb-package">
                                            <i class="ti-wallet"></i>$20,35 - $4,265 P.A
                                        </div>
                                        <div class="jb-author">
                                            <a href="employer-detail.html"><img alt="" src="~/Static/Home/assets/img/user-8.png" class="avatar avatar-30"> Adam Adivar</a>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>
<!-- ============================ Job Featured End ================================== -->
<!-- ============================ Counter Facts  Start================================== -->
<section class="image-bg text-center" style="background: #00a94f url('../../Static/Home/assets/img/bg2.png');" data-overlay="0">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-md-3 col-sm-6 b-r">
                <div class="count-facts">
                    <h4>2120</h4>
                    <span>Jobs Posted</span>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 b-r">
                <div class="count-facts">
                    <h4>3117</h4>
                    <span>Jobs Filled</span>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 b-r">
                <div class="count-facts">
                    <h4>872</h4>
                    <span>Companies</span>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="count-facts">
                    <h4>3740</h4>
                    <span>Freelancer</span>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- ============================ Counter Facts End ================================== -->
<!-- ============================ Testimonial Start ================================== -->
<section class="gray">
    <div class="container">

        <div class="row">
            <div class="col text-center">
                <div class="sec-heading mx-auto">
                    <p>Our Client Review</p>
                    <h2>What People Saying?</h2>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="owl-carousel" id="testimonials-two">

                <!-- Single Testimonials -->
                <div class="item">
                    <div class="testimonial-wrap style-2">
                        <div class="client-thumb-box">
                            <div class="client-thumb-content">
                                <div class="client-thumb">
                                    <img src="~/Static/Home/assets/img/user-5.jpg" class="img-responsive img-circle" alt="">
                                </div>
                                <h5 class="mb-0">Adam Gillworm</h5>
                                <span>Envato Market</span>
                                <div class="rating">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                            </div>
                        </div>

                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas.</p>

                    </div>
                </div>

                <!-- Single Testimonials -->
                <div class="item">
                    <div class="testimonial-wrap style-2">
                        <div class="client-thumb-box">
                            <div class="client-thumb-content">
                                <div class="client-thumb">
                                    <img src="~/Static/Home/assets/img/user-3.jpg" class="img-responsive img-circle" alt="">
                                </div>
                                <h5 class="mb-0">Jully Jiliven</h5>
                                <span>Envato Manager</span>
                                <div class="rating">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                            </div>
                        </div>

                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas.</p>

                    </div>
                </div>

                <!-- Single Testimonials -->
                <div class="item">
                    <div class="testimonial-wrap style-2">
                        <div class="client-thumb-box">
                            <div class="client-thumb-content">
                                <div class="client-thumb">
                                    <img src="~/Static/Home/assets/img/user-2.jpg" class="img-responsive img-circle" alt="">
                                </div>
                                <h5 class="mb-0">Gill Wormdom</h5>
                                <span>SEO Mind LTD CEO</span>
                                <div class="rating">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                            </div>
                        </div>

                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas.</p>

                    </div>
                </div>

                <!-- Single Testimonials -->
                <div class="item">
                    <div class="testimonial-wrap style-2">
                        <div class="client-thumb-box">
                            <div class="client-thumb-content">
                                <div class="client-thumb">
                                    <img src="~/Static/Home/assets/img/user-5.jpg" class="img-responsive img-circle" alt="">
                                </div>
                                <h5 class="mb-0">Adam Gillworm</h5>
                                <span>Envato Market</span>
                                <div class="rating">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                            </div>
                        </div>

                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas.</p>

                    </div>
                </div>

                <!-- Single Testimonials -->
                <div class="item">
                    <div class="testimonial-wrap style-2">
                        <div class="client-thumb-box">
                            <div class="client-thumb-content">
                                <div class="client-thumb">
                                    <img src="~/Static/Home/assets/img/user-3.jpg" class="img-responsive img-circle" alt="">
                                </div>
                                <h5 class="mb-0">Jully Jiliven</h5>
                                <span>Envato Manager</span>
                                <div class="rating">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                            </div>
                        </div>

                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas.</p>

                    </div>
                </div>

            </div>

        </div>

    </div>
</section>
<div class="clearfix"></div>
<!-- ============================ Testimonial End ================================== -->
<!-- ============================ Pricing Start ================================== -->
<section class="min-sec">
    <div class="container">

        <div class="row">
            <div class="col text-center">
                <div class="sec-heading mx-auto">
                    <p>Our Packages</p>
                    <h2>Our Best Pricing Plan</h2>
                </div>
            </div>
        </div>

        <div class="row align-items-center m-0">
            <div class="col-lg-4 col-md-12">
                <div class="pr-table-box">

                    <div class="pr-pricing-price-container">
                        <h4 class="pr-price-value"><sup class="pr-currency">$</sup>49</h4>
                        <div class="pr-pricing-container">Startup Package</div>
                    </div>

                    <div class="pr-pricing-list-container">
                        <ul class="pr-pricing-list">
                            <li>Business &amp; Finance Analysing</li>
                            <li>SEO Optimization</li>
                            <li>Managment &amp; Marketing</li>
                            <li>24/7 Customer Support</li>
                            <li>SEO Optimization</li>
                        </ul>
                    </div>

                    <div class="pr-button-wrap">
                        <a class="btn price-btn bg-theme" href="#">Sign up<i class="ti-arrow-right ml-2"></i></a>
                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="pr-table-box featured">

                    <div class="pr-pricing-price-container bg-theme">
                        <h4 class="pr-price-value"><sup class="pr-currency">$</sup>89</h4>
                        <div class="pr-pricing-container">Business Package</div>
                    </div>

                    <div class="pr-pricing-list-container">
                        <ul class="pr-pricing-list">
                            <li>Business &amp; Finance Analysing</li>
                            <li>SEO Optimization</li>
                            <li>Managment &amp; Marketing</li>
                            <li>24/7 Customer Support</li>
                            <li>SEO Optimization</li>
                        </ul>
                    </div>

                    <div class="pr-button-wrap">
                        <a class="btn price-btn btn-black" href="#">Sign up<i class="ti-arrow-right ml-2"></i></a>
                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="pr-table-box">
                    <div class="pr-pricing-price-container">
                        <h4 class="pr-price-value"><sup class="pr-currency">$</sup>149</h4>
                        <div class="pr-pricing-container">Ultimate Package</div>
                    </div>

                    <div class="pr-pricing-list-container">
                        <ul class="pr-pricing-list">
                            <li>Business &amp; Finance Analysing</li>
                            <li>SEO Optimization</li>
                            <li>Managment &amp; Marketing</li>
                            <li>24/7 Customer Support</li>
                            <li>SEO Optimization</li>
                        </ul>
                    </div>

                    <div class="pr-button-wrap">
                        <a class="btn price-btn bg-theme" href="#">Sign up<i class="ti-arrow-right ml-2"></i></a>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>
<!-- ============================ Pricing End ================================== -->
