﻿@model JobBoard.Models.ViewModels.ApplicationRoleViewModel

@*@using (Html.BeginForm("AddRole", "Admin", null, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.RoleName, htmlAttributes: new { @class = "" })
        @Html.EditorFor(model => model.RoleName, new { htmlAttributes = new { @class = "form-control", placeholder = "Role Name" } })
        @Html.ValidationMessageFor(model => model.RoleName, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.RoleDesription, htmlAttributes: new { @class = "" })
        @Html.EditorFor(model => model.RoleDesription, new { htmlAttributes = new { @class = "form-control", placeholder = "Role Description" } })
        @Html.ValidationMessageFor(model => model.RoleDesription, "", new { @class = "text-danger" })
    </div>
}*@
@using (Ajax.BeginForm("AddRole", "Admin", null, new AjaxOptions
{
    HttpMethod = "POST",
    OnSuccess = "SuccessMessage",
    OnFailure = "FailMessage",
    UpdateTargetId = "modal-body",
}, new { id = "addRoleForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.RoleName, htmlAttributes: new { @class = "" })
        @Html.EditorFor(model => model.RoleName, new { htmlAttributes = new { @class = "form-control", placeholder = "Role Name" } })
        @Html.ValidationMessageFor(model => model.RoleName, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.RoleDesription, htmlAttributes: new { @class = "" })
        @Html.EditorFor(model => model.RoleDesription, new { htmlAttributes = new { @class = "form-control", placeholder = "Role Description" } })
        @Html.ValidationMessageFor(model => model.RoleDesription, "", new { @class = "text-danger" })
    </div>
}