﻿@model JobBoard.Models.ViewModels.CategoryViewModel
@*<div class="modal" tabindex="-1" role="dialog" id="exampleModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this category?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="confirmDelete('@Url.Action("Delete", "Admin")')" id="deleteCategorybtn">Delete</button>
            </div>
        </div>
    </div>
</div>*@
<p>Are you sure you want to delete this category?</p>
