﻿@model IEnumerable<JobBoard.Models.ViewModels.CategoryViewModel>
@{
    ViewBag.Title = "AllCategories";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

@*page-wrapper*@
<div class="page-wrapper">
    @*page-content-wrapper*@
    <div class="page-content-wrapper">
        <div class="page-content">
            <!--breadcrumb-->
            <div class="page-breadcrumb d-none d-md-flex align-items-center mb-3">
                <div class="breadcrumb-title pr-3">All Categories</div>
                <div class="pl-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0 p-0">
                            <li class="breadcrumb-item">
                                <a href="javascript:;"><i class='bx bx-home-alt'></i></a>
                            </li>

                        </ol>
                    </nav>
                </div>

            </div>
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h4 class="mb-0">All Categories</h4>
                    </div>
                    <hr />
                    <div class="table-responsive">
                        <table id="example" class="table table-striped table-bordered" style="width: 100%">
                            <thead>
                            <tr>
                                <th>Category Name</th>
                                <th>Date Created</th>
                                <th>Date Updated</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var category in Model)
                            {
                                <tr>
                                    <td>@category.CategoryName</td>
                                    <td>@category.CreatedAt</td>
                                    <td>@category.UpdatedAt.ToString("D")</td>
                                    <td title="Edit"><a class="text-primary-blue" href="@Url.Action("EditCategory", "Admin", new {id = @category.Id})"><i class="bx bx-edit"></i></a></td>
                                    <td title="Delete"><a class="text-red deleteCategory" href="javascript:void(0);"><i class="bx bx-trash"></i></a></td>
                                </tr>
                            }
                            </tbody>
                        </table>
                        <!--Bootstrap Pop up modal-->
                        <div class="modal fade" tabindex="-1" role="dialog" id="exampleModal">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Modal Title</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body" id="ModalBody">
                                       
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" onclick="confirmDelete('@Url.Action("Delete", "Admin")')" id="deleteCategorybtn">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script>
        $(document).ready(function() {
            //Default data table
            $('#example').DataTable();
            var table = $('#example2').DataTable({
                lengthChange: false,
                buttons: ['copy', 'excel', 'pdf', 'print', 'colvis']
            });
            table.buttons().container().appendTo('#example2_wrapper .col-md-6:eq(0)');
        });
    </script>
    <script>
        $(function() {
            $("#example .deleteCategory").click(function() {
                //get the id of the clicked category
                var id = $(this).closest("tr").find("td").eq(0).html();
                $.ajax({
                    type: GET,
                    url: "/Admin/GetDeletePartialView",
                    data: '{id:" ' + id + '" }',
                    contentType: "application/json;charset=utf-8",
                    dataType: "html",
                    success: function(response) {
                        $('#ModalBody').html(response);
                        $('#exampleModal').modal('show');
                    },
                    failure: function(response) {
                        alert(response.responseText);
                    },
                    error: function(response) {
                        alert(response.responseText);
                    }
                });
            });
        });
    </script>
    <script>
        function confirmDelete(url) {
            var id = $("#").val(); //get the id of the category to be deleted
            $.ajax({
                url: url + "/" + id,
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (response) {
                    if (response.success) {
                        $("#modal").modal("hide");
                        //fire toaster
                    } else if (response.prohibited) {
                        $("#modal").modal("hide");
                        //fire toaster
                    } else {
                        $("#modal").modal("hide");
                        //fire toaster
                    }
                },
                failure: function() {
                    $("#modal").modal("hide");
                    //fire toaster
                }
            });
            return false;
        }
    </script>
}

