﻿@model IEnumerable<JobBoard.Models.ApplicationRole>
@{
    ViewBag.Title = "AllRoles";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

@*page-wrapper*@
<div class="page-wrapper">
    @*page-content-wrapper*@
    <div class="page-content-wrapper">
        <div class="page-content">
            <!--breadcrumb-->
            <div class="page-breadcrumb d-none d-md-flex align-items-center mb-3">
                <a class="btn btn-primary addRole"><i class="bx bx-plus"></i>Add Role</a>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h4 class="mb-0">All Roles</h4>
                    </div>
                    <hr />
                    <div class="table-responsive">
                        <table id="example" class="table table-striped table-bordered" style="width: 100%">
                            <thead>
                            <tr>
                                <th>Role Name</th>
                                <th>Description</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var role in Model)
                            {
                                <tr>
                                    <td>@role.Name</td>
                                    <td>@role.Description</td>
                                    <td title="Edit"><a class="text-primary-blue editRoleBtn" href="#"><i class="bx bx-edit"></i></a></td>
                                    <td title="Delete"><a class="text-red deleteRoleBtn" href="javascript:void(0);"><i class="bx bx-trash"></i></a></td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                    <div class="modal fade" tabindex="-1" role="dialog" id="addRole" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Add Role</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body" id="modal-body">
                                    @*load partial view*@
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-save="modal" id="addRoleBtn">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script>
        $(document).ready(function() {
            //Default data table
            $('#example').DataTable();
            var table = $('#example2').DataTable({
                lengthChange: false,
                buttons: ['copy', 'excel', 'pdf', 'print', 'colvis']
            });
            table.buttons().container().appendTo('#example2_wrapper .col-md-6:eq(0)');
        });
    </script>
    @*get the addrole partial view*@
    <script>
        $(document).ready(function() {
            //do something
            $('.addRole').on("click", function() {
                //show modal
                @*alert("yea");*@
                $('#addRole').modal('show');
                $.ajax({
                    url: "/Admin/AddRole",
                    type: 'GET',
                    success: function (data) {
                        $("#modal-body").html(data);
                    },
                    error: function() {
                        alert("Error");
                    }
                });
            });
        });
    </script>
    <script>
        $(document).ready(function() {
            //do something
            $('#addRoleBtn').on("click",
                function () {
                    var data = {};
                    $.ajax({
                        type: 'POST',
                        url: "/Admin/AddRole",
                        data: "data",
                        contentType: 'application/json; charset=utf-8',
                        dataType: "json",
                        success: function(response) {
                            alert("success");
                        },
                        failure: function(response) {
                            alert("failure");
                        },
                        error: function(response) {
                            alert(response);
                        }
                    });
                });
        });
    </script>
}


