﻿@model JobBoard.Models.ViewModels.CategoryViewModel
@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}


<!--page-wrapper-->
<div class="page-wrapper">
    <!--page-content-wrapper-->
    <div class="page-content-wrapper">
        <div class="page-content">
            <!--breadcrumb-->
            <div class="page-breadcrumb d-none d-md-flex align-items-center mb-3">
                <div class="breadcrumb-title pr-3">Edit Category</div>
                <div class="pl-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0 p-0">
                            <li class="breadcrumb-item">
                                <a href="javascript:;"><i class='bx bx-home-alt'></i></a>
                            </li>

                        </ol>
                    </nav>
                </div>

            </div>
            <!--end breadcrumb-->
            <div class="card radius-15">
                <div class="card-body">
                    <div class="card-title">
                        <h4 class="mb-0">Validation</h4>
                    </div>
                    @if (TempData.ContainsKey("success"))
                    {
                        <div class="alert alert-success alert-wth-icon alert-dismissible fade show" role="alert">
                            <span class="alert-icon-wrap"><i class="zmdi zmdi-check-circle"></i></span> @TempData["success"]
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    }
                    <hr />

                    @using (Html.BeginForm("UpdateCategory", "Admin", null, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                @Html.LabelFor(model => model.CategoryName, htmlAttributes: new { @class = "" })
                                @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control", placeholder = "Category Name" } })
                                @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
                            </div>

                        </div>
                        @Html.HiddenFor(c => c.Id)
                        <button class="btn btn-primary" type="submit">Edit</button>
                    }

                </div>
            </div>

        </div>
    </div>
    <!--end page-content-wrapper-->
</div>
<!--end page-wrapper-->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

