﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Lockout</title>
    <!--favicon-->
    <link rel="icon" href="~/Static/Admin/assets/images/favicon-32x32.png" type="image/png" />
    <!-- loader-->
    <link href="~/Static/Admin/assets/css/pace.min.css" rel="stylesheet" />
   
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Static/Admin/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&amp;family=Roboto&amp;display=swap" />
    <!-- Icons CSS -->
    <link rel="stylesheet" href="~/Static/Admin/assets/css/icons.css" />
    <!-- App CSS -->
    <link rel="stylesheet" href="~/Static/Admin/assets/css/app.css" />
</head>
<body class="bg-lock-screen">
<!-- wrapper -->
<div class="wrapper">
    <div class="authentication-lock-screen d-flex align-items-center justify-content-center">
        <div class="card shadow-none bg-transparent">
            <div class="card-body p-md-5 text-center">
                <h2 class="text-white">10:53 AM</h2>
                <h5 class="text-white">Tuesday, November 29, 2016</h5>
                <div class="">
                    <img src="~/Static/Admin/assets/images/icons/user.png" class="mt-5" width="120" alt="" />
                </div>
                <p class="mt-2 text-white">Administrator</p>
                <div class="form-group mt-3">
                    <input type="password" class="form-control" placeholder="Password" />
                </div>
                <button type="button" class="btn btn-light btn-block">Login</button>
            </div>
        </div>
    </div>
</div>
<!-- end wrapper -->
<script src="~/Static/Admin/assets/js/pace.min.js"></script>
</body>
</html>
