﻿@model JobBoard.Models.ChangePasswordViewModel
@using (Html.BeginForm("ChangePassword", "Manage", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="tr-single-box">
        <div class="tr-single-header">
            <h4><i class="lni-lock"></i> Change Password</h4>
        </div>

        <div class="tr-single-body">
            <div class="form-group">
                <label>Current Password</label>
                @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>New Password</label>
                @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Confirm Password</label>
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })

            </div>
        </div>

    </div>
    <input type="submit" class="btn btn-info btn-md full-width" value="Save & Update" />
    @*<a href="#" class="btn btn-info btn-md full-width">Save & Update<i class="ml-2 ti-arrow-right"></i></a>*@

}


