﻿<!-- Log In Modal -->
@model JobBoard.Models.LoginViewModel
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="registermodal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered login-pop-form" role="document">
        <div class="modal-content" id="registermodal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="ti-close"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <h4 class="modal-header-title">SignIn</h4>
                <div class="social-login">
                    <ul>
                        <li><a href="#" class="btn connect-fb"><i class="ti-facebook"></i>Login with Facebook</a></li>
                        <li><a href="#" class="btn connect-gplus"><i class="ti-google"></i>Login with Gmail</a></li>
                    </ul>
                </div>

                <div class="devide-wrap"><span>OR</span></div>

                <div class="login-form">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label>User Name</label>
                        <div class="input-with-gray">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Email " } })
                            <i class="ti-user theme-cl"></i>
                        </div>
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <div class="input-with-gray">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Password " } })
                            <i class="ti-unlock theme-cl"></i>
                        </div>
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-md full-width pop-login">Login</button>
                        </div>
                    }
                </div>
            </div>
            <div class="modal-footer">
                <div class="mf-link"><i class="ti-user"></i>Haven't An Account?<a href="javascript:void(0)" data-toggle="modal" data-target="#signup" data-dismiss="modal"> Sign Up</a></div>
                <div class="mf-forget"><a href="#"><i class="ti-help"></i>Forget Password</a></div>
            </div>
        </div>
    </div>
</div>
<!-- End Modal -->
