﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()
<ul class="nav-menu nav-menu-social align-to-right">
    <li class="add-listing theme-bg">
        <a href="@Url.Action("Contact", "Home")">
            <i class="ti-plus"></i> Post Job
        </a>
    </li>
    <li class="add-listing theme-bg">
        <a href="javascript:document.getElementById('logoutForm').submit()">
            <i class="ti-plus"></i> Log Out
        </a>
    </li>

</ul>
    }
}
else
{
    <ul class="nav-menu nav-menu-social align-to-right">

        <li>
            <a href="#" data-toggle="modal" data-target="#login">
                <i class="ti-user mr-1"></i><span class="dn-lg">Login/Register</span>
            </a>
        </li>
        <li class="add-listing theme-bg">
            <a href="@Url.Action("Contact", "Home")">
                <i class="ti-plus"></i> Post Job
            </a>
        </li>
    </ul>
}
