﻿
@model JobBoard.Models.RegisterViewModel
<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="sign-up" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered login-pop-form" role="document">
        <div class="modal-content" id="sign-up">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="ti-close"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <h4 class="modal-header-title">Sign Up</h4>
                <div class="social-login">
                    <ul>
                        <li><a href="#" class="btn connect-fb"><i class="ti-facebook"></i>Login with Facebook</a></li>
                        <li><a href="#" class="btn connect-gplus"><i class="ti-google"></i>Login with Gmail</a></li>
                    </ul>
                </div>

                <div class="devide-wrap"><span>OR</span></div>

                <div class="login-form">
                    @using (Html.BeginForm("Register", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>Full Name</label>
                                    <div class="input-with-gray">
                                        @Html.EditorFor(model => model.Fullname, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Fullname " } })
                                        <i class="ti-user theme-cl"></i>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Fullname, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>Email</label>
                                    <div class="input-with-gray">
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email Address " } })
                                        <i class="ti-user theme-cl"></i>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="form-group">
                                    <label>User Name</label>
                                    <div class="input-with-gray">
                                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", placeholder = "Username " } })
                                        <i class="ti-user theme-cl"></i>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="form-group">
                                    <label>Password</label>
                                    <div class="input-with-gray">
                                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "******** " } })
                                        <i class="ti-unlock theme-cl"></i>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-md full-width pop-login">Login</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="modal-footer">
                <div class="mf-link"><a href="#"><i class="ti-user"></i>Already Have Account? Sign In</a></div>
                <div class="mf-forget"><a href="#"><i class="ti-help"></i>Need Help</a></div>
            </div>
        </div>
    </div>
</div>
<!-- End Modal -->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
