﻿@using JobBoard.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Home/_HomeLayout.cshtml";
}

<!-- ============================ Hero Banner  Start================================== -->
<div class="page-title-wrap pt-img-wrap" style="background: #00a94f url('../../Static/Home/assets/img/banner-4.jpg') no-repeat;
">
    <div class="container">
        <div class="col-lg-12 col-md-12">
            <div class="pt-caption text-center">
                <h1>Sign In Your Account</h1>
                <p><a href="index.html">Home</a><span class="current-page">Log In</span></p>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<!-- ============================ Hero Banner End ================================== -->
<!-- ============================ Who We Are Start ================================== -->
<section>
    <div class="container">

        <div class="row justify-content-center">

            <div class="col-lg-7 col-md-7 col-sm-12">
                <div class="modal-body">
                    <h4 class="modal-header-title">Welcome <span>Back</span></h4>
                    <div class="social-login center-tr">
                        <ul>
                            <li><a href="#" class="btn connect-fb"><i class="ti-facebook"></i>Login with Facebook</a></li>
                            <li><a href="#" class="btn connect-linked"><i class="ti-linkedin"></i>Login with Linkedin</a></li>
                        </ul>
                    </div>
                    <div class="login-form">
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            
                        <div class="form-group">
                            <label>User Name</label>
                            <div class="input-with-gray">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Username, Phone Number or Email " } })
                                <i class="ti-user"></i>
                            </div>
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label>Password</label>
                            <div class="input-with-gray">
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "******* " } })
                                <i class="ti-unlock"></i>
                            </div>
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-md full-width pop-login">Login</button>
                            </div>

                        }
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<div class="clearfix"></div>
<!-- ============================ Who We Are End ================================== *737*50*1400*416#-->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}